body {
    font-family: inter;
    color: #424242;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;
}

nav ul {
    display: flex;
    list-style: none;  
    gap: 1.5rem;
    padding: 0rem;
    margin: 0rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:visited {
    color: #424242;
}

a:hover {
    color: #31786E;
    text-decoration: underline;
}

img {
    width: 2.5rem;
}


/* fiks denne
.hamburger {
    display: none;
}
@media (min-width: 600px;) {

}